<!DOCTYPE html>
 <!-- Ici je précise la langue du contenu du document -->
<html lang='fr'>
<head>
	<!-- Ici je précise le nom du jeu de caractères -->
	<meta charset="utf-8">
	<!-- Ici je donne une directive pour des adaptations d'échelle sur un smartphone -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color:green">
    <p> Merci de votre patience</p>
    <p><h2> Voici mon premier site</h2></p>
    <p><a href="<forme>">Lien vers la page suivante</a></p>
    <p>Premiere colone</p>
    <hr>
    <p>Deuxieme colone</p>
    <hr>
    <p>Troisieme colone</p>
    <hr>
    <p><a href="forme">Se connecter au site</a></p>
    


	<!-- Mettre le code HTML ici -->

</body>
</html>









