<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cssPersonnel/Projet2.css' %}">
    <link rel="stylesheet" href="{% static 'css\bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'projet\Events\Egestion\static\fontawesome-free-6.6.0-web\css\all.css' %}">
    <title>Page d´accueil</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row" id="sommet">
            <div class="col-lg-2" id="navred">
                
                
            </div>
            <div class="col-lg-7"  id="titre">G-EVENTS</div>
            <div class="col-lg-3"><span class="bi bi-alarm">Alarme</i></span><span class ="glyphicon glyphicon-ok form-control-feedback"> </span></div>
        </div>
        
        <div class="row">
            <div class="col-lg-1" id="colg1"><img src="{% static 'Images\Capture-removebg-preview.png' %}" alt="G-Event" title="G-Event"></div>
            <div class="col-lg-1" id="colg2">G-EVENTS</div>
                <div class="col-lg-8">
                    <nav class="navbarr">
                        <ul>
                            <li><a href="">Accueil</a></li>
                            <li class="deroulant"><a href="#">Evenements ▼</a>
                                <ul class="sous">
                                    <li><a href="{% url 'formevent' %}">Creer</a></li>
                                    <li><a href="#">Gerer</a></li>
                                    <li><a href="#">Rechercher un evenement</a></li>
                                </ul>
                            </li>
                            <li class="deroulant"><a href="#">A propos ▼</a>
                                <ul class="sous">
                                    <li><a href="#">A propos de nous</a></li>
                                    <li><a href="#">Nous joindre</a></li>
                                </ul>
                            </li>
                            <li class="deroulant"><a href="#">Aide ▼</a>
                                <ul class="sous">
                                    <li><a href="{% url 'pageAide' %}">FAQs</a></li>
                                </ul>
                                    
                            </li>
                            <li class="deroulant"><a href="#">Se conecter ▼</a>
                                <ul class="sous">
                                    <li><a href="{% url 'form2' %}">Se connecter</a></li>
                                    <li><a href="{% url 'formconnec' %}">S´inscrire</a></li>
                                    <li><a href="#">Mon profil</a></li>
                                </ul>
                            </li>
                        </ul>
                    
                    </nav>
                </div>
            <div class="col-lg-1" id="cold1"><a href="https://fr-fr.facebook.com/login.php/" target="_blank"><i class="fa-brands fa-facebook"></i></a>&nbsp;<a href="https://x.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZnIiLCJteCI6IjIifQ%3D%3D%22%7D" target="_blank"><i class="fa-brands fa-twitter"></i></a>&nbsp;<a href="https://www.instagram.com/accounts/login/" target="_blank"><i class="fa-brands fa-instagram"></i></a></div>
            <div class="col-lg-1" id="cold2"><a href=""><i class="fa-solid fa-user"><br><span>Utilisateur</span></i></a>
            </div>
        </div>
                   
        

        <div class="row">
                    <div class="col-lg-2" id="navred"></div>
                    <div class="col-lg-8 ">
                        <form action="post" class="form-inline my-6 my-lg-0">
                            <input type="search" class="form-control mr-sm-5" placeholder="Chercher" aria-label="Search" id="search">
                            <button class="btn btn-success btn-primary my-2 my-sm-0 btn-lg" type="submit"><i class="fa fa-search"></i>Chercher</button>
                        </form>
                    </div>
                    <div class="col-lg-2" id="profil"></div>
            
        </div>
        <div class="row">
            <div class="col-lg-2"><h2>G-EVENTS </h2></div>
            <div class="col-lg-10"><h2>BIENVENUE DANS CETTE PLATEFORME  DE GESTION D´EVENEMENT</h2><i class="far fa-angry" style="background-color: brown;color:blue;"></i></div>
                
        </div>
        <div class="row">
            <div class="col-lg-4" id="piedPage">--------Nirservices------ <br> disponible a tout moment <br>24h/24 7j/7 <br>Nous offrons des services <br>informatiques</div>
            <div class="col-lg-4" id="piedPage">&copy; Tous droits reserves <br>BF-OUAGA <br>BP 3306</div>
            <div class="col-lg-4" id="piedPage">Nous utilisons une politique de securite <br>et de confidentialite <br>pour la protection de vos donnes</div>
        </div>
    </div>
    <script src="./js/bootstrap.js"></script> 
</body>
</html>