<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="{% static 'cssPersonnel/projetform.css' %}">
    <link rel="stylesheet" href="{% static 'css\bootstrap.css' %}">
    <title>Formulaire de connexion </title>
</head>
<body>
    <div class="row">
        <div class="col-lg-1" id="colg1"><img src="{% static 'Images/Capture-removebg-preview.png' %}" alt="G-Event" title="G-Event"></div>
        <div class="col-lg-1" id="colg2">G-EVENTS</div>
            <div class="col-lg-8">
                <nav class="navbarr">
                    <ul>
                        <li><a href="#">Accueil</a></li>
                        <li class="deroulant"><a href="#">Evenements ▼</a>
                            <ul class="sous">
                                <li><a href="{% url 'formevent' %}">Creer</a></li>
                                <li><a href="#">Gerer</a></li>
                                <li><a href="#">Rechercher un evenement</a></li>
                            </ul>
                        </li>
                        <li class="deroulant"><a href="#">A propos ▼</a>
                            <ul class="sous">
                                <li><a href="{% url 'aPropos' %}">A propos de nous</a></li>
                                <li><a href="#">Nous joindre</a></li>
                            </ul>
                        </li>
                        <li class="deroulant"><a href="#">Aide ▼</a>
                            <ul class="sous">
                                <li><a href="{% url 'pageAide' %}">FAQs</a></li>
                            </ul>
                                
                        </li>
                        <li class="deroulant"><a href="#">Se conecter ▼</a>
                            <ul class="sous">
                                <li><a href="{% url 'form2connec'%}">Se connecter</a></li>
                                <li><a href="{% url 'formconnec'%}">S´inscrire</a></li>
                                <li><a href="#">Mon profil</a></li>
                            </ul>
                        </li>
                    </ul>
                
                </nav>
            </div>
        <div class="col-lg-1" id="cold1"><a href="https://fr-fr.facebook.com/login.php/" target="_blank"><i class="fa-brands fa-facebook"></i></a>&nbsp;<a href="https://x.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZnIiLCJteCI6IjIifQ%3D%3D%22%7D" target="_blank"><i class="fa-brands fa-twitter"></i></a>&nbsp;<a href="https://www.instagram.com/accounts/login/" target="_blank"><i class="fa-brands fa-instagram"></i></a></div>
        <div class="col-lg-1" id="cold2"><a href=""><i class="fa-solid fa-user"><br><span>Utilisateur</span></i></a>
        </div>
    </div>
    <div class="divform">
        <img src="{% static 'Images/Capture-removebg-preview.png' %}" alt="G_EVENT" title="G_EVENT" class="imageaccueil">
        <form action="" method="post" >
            <p><h2>Se connecter</h2></p>
        
        
        <input type="email" name="email" value="" placeholder="Votre email" required class="form-control">
        <input type="password" name="motdepasse" value="" placeholder="Votre mot de passe" required class="form-control">
        <p>
            <b style="color: red;"> Vous n´avez pas de compte ?<br> </b>si  oui <a href="{% url 'formconnec' %}"><b style="color:hsl(245, 92%, 48%);">S`inscrire</b></a>
        </p>
        <p>
            <input type="submit" class="btn btn-primary" id="button" value="Se connecter">
        </p>
    
    </div>

    <footer>
        <div class="row" id="pieddesign">
            <div class="col-lg-4" id="piedPage">--------ILBOUDO PRODUCTION------ <br> disponible a tout moment <br>24h/24 7j/7 <br>Nous offrons des services <br>informatiques</div>
            <div class="col-lg-4" id="piedPage">&copy; Tous droits reserves <br>BF-OUAGA <br>BP 3306</div>
            <div class="col-lg-4" id="piedPage">Nous utilisons une politique de securite <br>et de confidentialite <br>pour la protection de vos donnes</div>
        </div>
    </footer>
    
</body>
</html>