body{
    background-color:gray;
}
.divform{
    text-align: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    background-color: antiquewhite;
    border-radius: 10px;

}
form{
   background-color: hwb(176 52% 29%);
   padding-left: 20px;
   padding-right: 30px;
   padding-top: 15px;
   border-radius: 10px;
   margin-top: 25px;
   margin-bottom: 25px;
   width: 700px;
}

input{
    margin-bottom: 35px;
    width: 300px;
    border-radius: 5px;

}
footer{
    height: 200px;
    background-color: aqua;
}
.form-control{
    margin-top: 25px;
    font-size: 20px;
    border-radius: 7px blue;
}
nav{
    display: inline;
    margin-left: 20px;
    text-decoration: none;
}
#button{
    font-size: 20px;
    font-weight: bold;
}
[class*="col-lg-4"]{
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    text-align: center !important;
    justify-items: center;
    
}
[class*="col-lg-8"]{
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    text-align: center !important;
}
.creation{
    color: white;
}
.alert-primary{
    text-align: center;
}